{% extends 'layout.html' %}

{% block body %}
<form method ='post'>
<fieldset class="form-group">
    <legend>Checkboxes</legend>
    <div class="row">
        <div class="form-check col-lg-6">
            <label class="form-check-label">
                <input class="form-check-input" name= "categories" type="checkbox" value="Action">
                <h4>Action</h4>
            </label>
        </div>
        <div class="form-check col-lg-6">
            <label class="form-check-label">
                <input class="form-check-input" name= "categories" type="checkbox" value="Drama">
                <h4>Drama</h4>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="form-check col-lg-6">
            <label class="form-check-label">
                <input class="form-check-input" name= "categories" type="checkbox" value="Sci-fy">
                <h4>Sci-fy</h4>
            </label>
        </div>
        <div class="form-check col-lg-6">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name= "categories" value="Adventure">
                <h4>Adventure</h4>
            </label>
        </div>
        <div class="form-check col-lg-6">
            <label class="form-check-label">
                <input class="form-check-input" name= "categories" type="checkbox" value="Animation">
                <h4>Animatione</h4>
            </label>
        </div>
        <div class="form-check col-lg-6">
            <label class="form-check-label">
                <input class="form-check-input" name= "categories" type="checkbox" value="Children's">
                <h4>Children's</h4>
            </label>
        </div>
        <div class="form-check col-lg-6">
            <label class="form-check-label">
                <input class="form-check-input" name= "categories" type="checkbox" value="Comedy">
                <h4>Comedy</h4>
            </label>
        </div>
        <div class="form-check col-lg-6">
            <label class="form-check-label">
                <input class="form-check-input" name= "categories" type="checkbox" value="Crime">
                <h4>Crime</h4>
            </label>
        </div>
        <div class="form-check col-lg-6">
            <label class="form-check-label">
                <input class="form-check-input" name= "categories" type="checkbox" value="Documentry">
                <h4>Documentry</h4>
            </label>
        </div>
        <div class="form-check col-lg-6">
            <label class="form-check-label">
                <input class="form-check-input" name= "categories" type="checkbox" value="Fantasy">
                <h4>Fantasy</h4>
            </label>
        </div>
        <div class="form-check col-lg-6">
            <label class="form-check-label">
                <input class="form-check-input" name= "categories" type="checkbox" value="Film-Noir">
                <h4>Film-Noir</h4>
            </label>
        </div>
        <div class="form-check col-lg-6">
            <label class="form-check-label">
                <input class="form-check-input" name= "categories" type="checkbox" value="Horror">
                <h4>Horror</h4>
            </label>
        </div>
        <div class="form-check col-lg-6">
            <label class="form-check-label">
                <input class="form-check-input" name= "categories" type="checkbox" value="Musical">
                <h4>Musical</h4>
            </label>
        </div>
        <div class="form-check col-lg-6">
            <label class="form-check-label">
                <input class="form-check-input" name= "categories" type="checkbox" value="Mystery">
                <h4>Mystery</h4>
            </label>
        </div>
        <div class="form-check col-lg-6">
            <label class="form-check-label">
                <input class="form-check-input" name= "categories" type="checkbox" value="Romance">
                <h4>Romance</h4>
            </label>
        </div>
        <div class="form-check col-lg-6">
            <label class="form-check-label">
                <input class="form-check-input" name= "categories" type="checkbox" value="Thriller">
                <h4>Thriller</h4>
            </label>
        </div>
        <div class="form-check col-lg-6">
            <label class="form-check-label">
                <input class="form-check-input" name= "categories" type="checkbox" value="War">
                <h4>War</h4>
            </label>
        </div>
        <div class="form-check col-lg-6">
            <label class="form-check-label">
                <input class="form-check-input" name= "categories" type="checkbox" value="Western">
                <h4>Western</h4>
            </label>
        </div>
    </div>
   
  </fieldset>
  <button type="submit" class="btn btn-primary">Submit</button>
</fieldset>
</form>
{% endblock %}
